$deviceXXs: "(max-width: 335px)";
@mixin respond-to ($breakpoint) {
  @if $breakpoint =="deviceXXs"{
    @media (max-width: 335px){
      @content;
    }
}
}

$primary: white;
$secondary: whitesmoke;
$font-color: black;
$search-hover: gray;
$span: red;


//kako da stavim width 200px, a da mi tekst ne izlazi van? Stavio overflow hidden, al rade bi da tekst bude u 2-3 reda
.search-result li {
  border-bottom: 1px solid $search-hover;
  border-left: 1px solid $search-hover;
  border-right: 1px solid $search-hover;
  overflow: hidden; //any text that goes outside of box will be hidden

width: 200px;
  font-size: small;
  @include respond-to(deviceXXs){
    width: 100px;
    font-size: x-small;
  }
  padding: 5px;
  background-color: $primary;
  cursor: pointer;
  list-style-type: none;

}

//grey color of block when hovering search results
.search-result li:hover {
  background-color: $search-hover;
}

.search-result li a {
  color: $search-hover;
  display: block;
}

//color of font when hovered
.search-result li {
  & a:hover{
  color: $font-color;
}
}


#search-box {
  position: right;
  margin-top: 10px;;
bottom: 30px;
  width: 200px;
  font-size: small;
  @include respond-to(deviceXXs){
    width: 200px;
    height: 25px;
  }
  height: 30px;
  border-radius: 12px;
  border: none;

}


ul.search-result {
  position: right;
  bottom: 30px;
  margin-top: 0;
  padding-left: 0;
  height: 30px;

}


