<div id="search-component">
  <h3><label for="search-box"></label></h3>

  <input #searchBox id="search-box"  autocomplete="off" (input)="search(searchBox.value)" placeholder="   Find a book"/>
  <ul class="search-result">
    <li *ngFor="let book of books$ | async" > <!--*ngFor iterates over a list called books$, not books. The $ is a convention that indicates books$ is an Observable, not an array.-->
      <a routerLink="/book/{{book.id}}">
        {{book.title}}
      </a>
    </li>
  </ul>
</div>
