/* BoookSearch private styles */
.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 200px;
  height: auto;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

.search-result li:hover {
  background-color: #607D8B;
  height: auto;
}

.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: white;
}
.search-result li a:active {
  color: white;
}
#search-box {
  position: relative;
  margin-right: 5px; //pomaknuo bi jos lijevo, ali mi search results idu preko book liste
  left: 265px;
bottom: 30px;
  width: 200px;
  height: 30px;
  border-radius: 12px; //mozda maknuti, treba li nam zaobljeni search box?
  border: none;

}


ul.search-result {
  position: relative;
  left: 265px;
  bottom: 30px;
  margin-top: 0;
  padding-left: 0;
  height: 30px;
}


