$deviceXXs: "(max-width: 335px)";
@mixin respond-to ($breakpoint) {
  @if $breakpoint =="deviceXXs"{
    @media (max-width: 335px){
      @content;
    }
}
}

$primary: white;
$secondary: whitesmoke;
$font-color: black;
$search-hover: gray;
$span: red;

/* BoookSearch private styles */
.search-result li {
  border-bottom: 1px solid $search-hover;
  border-left: 1px solid $search-hover;
  border-right: 1px solid $search-hover;
  width: 200px;
  @include respond-to(deviceXXs){
    width: 100px;
    font-size: x-small;
  }
  height: auto;
  padding: 5px;
  background-color: $primary;
  cursor: pointer;
  list-style-type: none;

}

.search-result li:hover {
  background-color: $search-hover;
  height: auto;
}

.search-result li a {
  color: $search-hover;
  display: block;
  text-decoration: none;
}

.search-result li {
  & a:hover{
  color: $primary;

}
  & a:active {
  color: $primary;
}
}


#search-box {
  position: right;
  margin-top: 10px;;
bottom: 30px;
  width: 200px;
  font-size: small;
  @include respond-to(deviceXXs){
    width: 100px;
    height: 25px;
  }
  height: 30px;
  border-radius: 12px;
  border: none;

}


ul.search-result {
  position: right;
  bottom: 30px;
  margin-top: 0;
  padding-left: 0;
  height: 30px;
}


