$deviceXXs: "(max-width: 335px)";
@mixin respond-to ($breakpoint) {
  @if $breakpoint =="deviceXXs"{
    @media (max-width: 335px){
      @content;
    }
}
}
/*------------------------ Main title-------------------------------- */
@font-face {
  font-family: 'Permanent Marker';
  src: url('/src/assets/font/Regular/PermanentMarker-Regular.woff2') format('woff2'),
      url('/src/assets/font/Regular/PermanentMarker-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


    .main-title{
      // position: relative;
      margin-left: 100px;
    font-family: 'Permanent Marker';//, sans-serif;
    font-size: 2rem;
    @include respond-to(deviceXXs){
      font-size: 1rem;
    }
    cursor: pointer;
  }




