<mat-toolbar >
  <mat-toolbar-row fxLayoutAlign="space-around center">
   <div>
<button mat-button>
  <span [routerLink] = "['']" class="main-title">Book Store</span>
</button>
   </div>
   <div>
 <button mat-button [routerLink]="['book', 'add']" *ngIf="!deviceXs">Add new book</button>  <!--*ngIf="!deviceSm && !deviceXs -->
   </div>
   <div>
    <button mat-button [routerLink]="['books']" *ngIf="!deviceXs">Browse BookStore</button>  <!--*ngIf="!deviceSm && !deviceXs -->
      </div>
   <div>
     <app-book-search *ngIf="!deviceXs"></app-book-search>
   </div>
  </mat-toolbar-row>



  <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="center center">
    <div>
    <button mat-button [routerLink]="['book', 'add']" *ngIf="deviceXs" >Add new book</button>
    </div>
    <div>
      <button mat-button [routerLink]="['books']" *ngIf="deviceXs">Browse BookStore</button>  <!--*ngIf="!deviceSm && !deviceXs -->
        </div>
    <div>
      <app-book-search *ngIf="!deviceXs"></app-book-search>
    </div>
  </mat-toolbar-row>


<mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="center center">
  <div>
    <app-book-search *ngIf="deviceXs"></app-book-search>
  </div>
</mat-toolbar-row>
</mat-toolbar>

<!-- nariktaj da vec na sm ide i add i search dolje, tj da search ide preko cijele sirine, a add ostane gore samo kao plusic -->
