$primary: white;
$secondary: whitesmoke;
$font-color: black;
$span: red;

$deviceXXs: "(max-width: 335px)";
@mixin respond-to ($breakpoint) {
  @if $breakpoint =="deviceXXs"{
    @media (max-width: 335px){
      @content;
    }
}
}

/*----------- Search Author-------------- */
.search-result li {
  position: relative;
  margin-left: -40px;
  padding: 5px;
  background-color: $primary;
  list-style-type: none;
}
.search-result li:hover {
  background-color: $secondary;
  height: auto;
}
mat-card{
  background-color: $primary;
  overflow: auto;
  color: $font-color !important ;
  &-title{
    font-size: 2rem;
    @include respond-to(deviceXXs){
      font-size: 1rem;
    }
  }

}
form{
  width: 400px;
  margin: 0 auto;

  mat-form-field{
  width: 100%;
  }

  span {
    font-size: 13px;
    color:$span;
  }
  .buttonContainer{
    button{
    margin-right: 10px;

  }

}
}




