
  <mat-card>
  <h2>Add new book</h2>
  <form [formGroup]= "bookForm" >
    <mat-form-field>
      <input placeholder="Title" matInput formControlName="title"/>
      <span *ngIf = "bookForm.get('title').touched && bookForm.get('title').errors">
        Please enter a valid title!
      </span>
    </mat-form-field>
   <mat-form-field>
    <input placeholder="Author" type="text" formControlName="authorName" (keyup)="onAuthorChange($event)" matInput autocomplete="off">
   </mat-form-field>
   <ul class="search-result">
    <li *ngFor= "let author of authors" (click)="onAuthorClick(author)">{{author.firstName}} {{author.lastName}}</li>
  </ul>
    <mat-form-field>
      <input placeholder="Price" matInput type="number" formControlName="price"/>
      <span *ngIf="bookForm.controls.price.errors?.min">Price must be over 5.</span>

    </mat-form-field>
    <mat-form-field>
      <textarea placeholder="Description" matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field>
    <mat-label>Condition</mat-label>
      <select matNativeControl required formControlName="condition">
        <option value="new">New</option>
        <option value="as new">As new</option>
        <option value="good">Good</option>
        <option value="bad">Bad</option>
      </select>
  </mat-form-field>
    <mat-form-field>
      <input placeholder="Image Url" matInput formControlName="imageUrl"/>
    </mat-form-field>

    <div class = "buttonContainer">
      <button mat-flat-button  type="button" color = "primary"  [disabled]="!bookForm.valid" (click)="Save()" >Add</button>
      <button mat-flat-button type="button" (click)="Cancel()" >Cancel</button>
    </div>
  </form>
</mat-card>

