.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: auto;
  height: auto;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}
.search-result li:hover {
  background-color: whitesmoke;
  height: auto;
}

mat-card{
  background-color: white; //stavi white, ovo je tako jer mi naslovi nece promijeniti boju u crno!
  overflow: auto;
  color: black !important ;
  h2{
    color: black ;
    text-align: center;

  }

}

form{


  width: 400px;
  margin: 0 auto;

  mat-form-field{
  width: 100%;

  }

  span {
    font-size: 13px;
    color: rgb(199, 6, 6);
  }
  .buttonContainer{
    button{
    float: right;
  }

}
}




