
$primary: white;
$secondary: whitesmoke;
$font-color: black;
$span: red;


$deviceXXs: "(max-width: 335px)";
@mixin respond-to ($breakpoint) {
  @if $breakpoint =="deviceXXs"{
    @media (max-width: 335px){
      @content;
    }
}
}

mat-card {
  background-color: $secondary;
  font-size: small;
}

.mat-card-image:first-child {
  margin-top:0px;
}


.book {
  min-width: 500px;

}

img {
  margin: 8px;
  transition: transform .2s; /* Animation */
  height: auto;
}

 .bookDataContainer{
   margin: 8px;
  color: $font-color;
  text-align: left;
  h1{
    font-size: small;
    font-weight: bold;
    @include respond-to(deviceXXs){
        font-size: x-small;
          }
    }
  }

  img:hover {
    transform: scale(1.02); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
