
mat-card{
  background-color: white;
  margin: 15px;
  position: relative;
  text-align: center;
  height: 500px;
  outline-style: none;

 img{
width: 100%;
 padding-left: 2px;
 padding-right: 2px;
 }

 .bookDataContainer{
  padding: 10px; //razmak izmedu slike i podataka
  color: black;
  }

  .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    opacity: 0;
    transition: 0.3s ease;
    cursor: pointer;
  }
}

mat-card :hover.overlay{
  opacity: 0.3;
}


