.redTitle{
  color: red;
}

mat-card{
  background-color: whitesmoke;
  padding: 20px;
  margin: 5px;
  position: relative;
  text-align: center;
  height: 680px;
 img{
width: 100%;
 padding-left: 2px;
 padding-right: 2px;
 }

 .bookDataContainer{
  width: 100%;
  padding: 10px; //razmak izmedu slike i podataka
  color: black;
  }

  .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    opacity: 0;
    transition: 0.3s ease;
    cursor: pointer;
  }
}

mat-card :hover.overlay{
  opacity: 0.3;
}
