/* ----------------------------- Mat toolbar test--------------------------------------------- */
.example-spacer {
  flex: 1 1 auto;
}
/* navigation bar*/
nav{
   //background-image: url(https://image.freepik.com/free-photo/wooden-table_36051-46.jpg);
  background-color: whitesmoke;
   color: black;
   height: 80px;
   font-size: 1rem;

 }
@font-face { font-family: PermanentMarker; src: url(../assets/font/PermanentMarker.ttf);}
/* Main title */
    .main-title{
      position: absolute;
    font-family: PermanentMarker, sans-serif;
    font-size: 3rem;
    margin-top: 10px;
    margin-left: 50px;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    outline-style: none;
    cursor: pointer


  }
  ul{
    margin: 0;

    float: right;

  }
  li{
   display:inline-block;
    margin-top: 20px;
margin-left: 20px;
margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    outline-style: none;

    a{
      cursor: pointer;
      font-weight: 500;

    }

  }

  #contentContainer{
    padding-top: 30px;

  }


/* ----Footer Section--------*/
#footer {
  background-color: black;
  min-height: unset;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icons i {
  font-size: 2rem;
  // padding: 0.5vw;   s ovim natpisi dodu kraj ikone, ali ne svida mi se, bolje s marginom
  margin-bottom: 1vw;
  margin-left: 1vw; // for same space between them,  ALI bjeze mi naslovi, daleko od ikona
  color: white;

}
.footer-icons i:hover {
  color: red;
}
.footer-text {
  color: white;
  text-align: center;
}










