<app-header [deviceXs]="deviceXs"></app-header>


<!-- Header cijeli stavio da isprobam bootstrap -->
<!----------------------------------Bootstrap header --------------------------------------------------------------- -->
<!-- <header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About Antonio</h4>
          <p class="text-muted">Young Software developer looking for a junior position.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li [routerLink]= "['book','add']"><a href="book/add" class="text-white">Add new book</a></li>
            <li><a href="https://github.com/ivancica91" class="text-white">See my GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>Book Store</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header> -->


<!--------------------------------Mat toolbar- proba ------------------------------->
<!-- <p>
  <mat-toolbar >
    <mat-toolbar-row>
      <span>Book Store</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
    </mat-toolbar>
    </p> -->


<!-- navigation bar ------------------------------------------------------------------------->
<!-- <nav>
<div class = "col-8 offset-2"> -->
<!-- main-title --------------------------------------------------->
<!-- <h1 [routerLink] = "['']" class="main-title" > Book Store </h1>
<ul>
<ul class="searchContainer" id="search">
<app-book-search></app-book-search>
</ul>

<li [routerLink]= "['book','add']"><a>Add new book</a></li>
<li *ngIf = "!user" [routerLink]="['login']"><a>Login <i class="far fa-user"></i></a></li>
<li *ngIf = "user" (click)= "Logout()"><a>Logout: {{user.username}}</a></li> -->

<!-- Book List -->
<!-- </ul>
</div>
</nav> -->
<div class="container" id = "contentContainer">
<router-outlet></router-outlet>
</div>

<!-- Footer section -->
<section id="footer">
<div class="footer-icons">
  <a href="" target="_blank" rel="noopener"  routerLink="/redirect" [queryParams]="{ url:'https://github.com/ivancica91'}"><i class="fab fa-github" title="Github"></i></a>
  <!-- ok, treba ubaciti novi service za redirect, https://medium.com/wizdm-genesys/angular-redirecting-to-external-links-bd3e785325c6 -->
  <a href="" target="_blank" rel="noopener"><i class="fab fa-linkedin" title="Linkedin"></i></a>
  <p class="footer-text"> Antonio Ivancic - 2020</p>
</div>
</section>



