$deviceSm: "(max-width: 410px)";
$deviceXXs: "(max-width: 335px)";
@mixin respond-to ($breakpoint) {
  @if $breakpoint =="deviceSm"{
    @media (max-width: 770px){
      @content;
    }
  }
  @else if $breakpoint =="deviceXXs"{
    @media (max-width: 335px){
      @content;
    }
}
}

/* Container holding the image and the text */
.container {
  position: relative;
}

.img{
  width: 100%;
  height: auto;
}

/* Bottom center text */
.text-block {
  position: absolute;
  bottom: 40px;
  left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  background-color: black;
  color: white;

}
.upper{
  position: absolute;
        top: 50px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: x-large;
        @include respond-to(deviceSm){
          font-size: small;
        }
        @include respond-to(deviceXXs){
          font-size: x-small;
        }

}




// mat-card{
//   position: absolute;
//   top: 80px;
//   left: 20px;
//   background-color: whitesmoke;
//   padding-left: 20px;
//   padding-right: 20px;
//   display: inline-block;
//   cursor: pointer;
// &-title{
//   color: black;
//   font-size: small;
// }
// &-subtitle{
//   color: rgba(0, 162, 255, 0.782);
// }
// }
