<h2 fxLayoutAlign="center center"> <i> “Reading one book is like eating one potato chip.” – Diane Duane </i></h2>
<h4>This is our little Book Store. Please browse books we currently have, and if you like anything,
  contact us or come by our place and get yourselt some new books! :)  Currently we don't have online store, we prefer meeting you in person.</h4>
<div class="container">
<img src="assets/images/books.png" class="img">
<strong class="upper">Wide range of books for every taste and budget!</strong>
  <p>
    <button class="text-block" fxLayoutAlign="center stretch" mat-raised-button  [routerLink]="['/books']" >See a list of all books</button>
  </p>
<!---------------   Ovdje svaki mjesec rucno stavimo knjigu za knjigu mjeseca ----------->
<mat-card [routerLink] = "['/book', 37]" class="mat-card" >
  <mat-card-title>Book of the month</mat-card-title>
  <mat-card-subtitle>Divergent by XXX</mat-card-subtitle>
  <img mat-card-md-image src="assets/images/divergent.png">

</mat-card>
</div>

