mat-card{
  padding: 20px;
  margin: 5px;
  position: relative;
  text-align: center;
 img{
 padding-left: 40px;
 padding-right: 40px;
 }

 .bookDataContainer{
  width: 100%;
  padding: 10px; //razmak izmedu slike i podataka
  }

}
