
<mat-card *ngIf="book">
  <button mat-flat-button class ="buttonContainer" color ="primary" [routerLink]="['/books']"><i class="fas fa-long-arrow-alt-left"></i></button>
  <img [src]="book.imageSrc"/>
  <div class = "bookDataContainer">
  <h1>{{book.title}}</h1>
  <p *ngIf="book.author">{{book.author.fullName}}</p>
  <p>{{book.price | currency : '€ '}}</p>
  <p>{{book.description}}</p>
  <!-- <p>{{book.condition}}</p> -->

  </div>
  <div class = "btnUpdate">
    <button type="button" mat-flat-button color="primary" [routerLink]="['edit']">Update Book</button>
  </div>
  <div class="btnDelete">
    <button type="button" mat-flat-button color="primary" (click)="DeleteBook(book.id)">Delete book</button>
  </div>
  <div class = "overlay"></div>
</mat-card>

