mat-card{
  padding: 20px;
  margin: 5px;
  position: relative;
  text-align: center;
  background-color: whitesmoke;
  outline-style: none;

 img{
   position: center;


 }

 .bookDataContainer{
  width: 100%;
  padding: 10px; //razmak izmedu slike i podataka
  color: black;
  }

  .buttonContainer{
    color:black;
background-color: whitesmoke;
    position: absolute; left: 0px;
    font-size: 2rem;
    outline-style: none;
  }

.btnUpdate{ // ne mogu dobiti horizontalni razmak izmedu buttonsa pa sam stavio vertikalni
  margin-top: 10px;
  margin-bottom: 10px;
}


}
