$primary: white;
$secondary: whitesmoke;
$font-color: black;
$span: red;

$deviceXXs: "(max-width: 335px)";
@mixin respond-to ($breakpoint) {
  @if $breakpoint =="deviceXXs"{
    @media (max-width: 335px){
      @content;
    }
}
}

mat-card{
  padding: 20px;
  margin: 5px;
  position: relative;
  text-align: center;
  background-color:$secondary;
  outline-style: none;

  h1{
    @include respond-to(deviceXXs){
      font-size: x-small;
      font-weight: bold;
        }
    }
  }


 img{
   max-width: 100%;
   height: auto;
 }

 .bookDataContainer{
   width: 100%;
  padding: 10px; //razmak izmedu slike i podataka
  color:$font-color;
  @include respond-to(deviceXXs){
    font-size: x-small;
      }
  }

  .buttonContainer{
    color:$font-color;
background-color: $secondary;
    position: absolute; left: 0px;
    font-size: 2rem;
    outline-style: none;
  }

.btnUpdate{ // ne mogu dobiti horizontalni razmak izmedu buttonsa pa sam stavio vertikalni
  margin-top: 10px;
  margin-bottom: 10px;
}



