@import '@angular/material/prebuilt-themes/purple-green.css';
//ovo sve importam da probam s bootstrapom responsive design dobit
@import "../vendor/bootstrap/scss/functions";
@import "../vendor/bootstrap/scss/variables";
@import "../vendor/bootstrap/scss/mixins";

@import "../vendor/bootstrap/scss/reboot";
@import "../vendor/bootstrap/scss/grid";
@import "../vendor/bootstrap/scss/images";
@import "../vendor/bootstrap/scss/utilities";
@import "../vendor/bootstrap/scss/nav";
@import "../vendor/bootstrap/scss/navbar";
@import "../vendor/bootstrap/scss/transitions";
@import "../vendor/bootstrap/scss/card";
body{
  margin: 0;
}

html, body { height: 100%; background-color: whitesmoke !important;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-label {  //overwrote the color of placeholder text because of white background
  color:black !important;
}
