
mat-card{
  background-color: white;
  overflow: auto;
  color: black ;
  h2{
    color: black;
    text-align: center;

  }



}



form{
  width: 400px;
  margin: 0 auto;

  mat-form-field{
  width: 100%;
  }

  span {
    font-size: 13px;
    color: rgb(199, 6, 6);
  }

}
::placeholder{ //popraviti, ne prikazuje naslove
  color: black !important;
}
